@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

.review--container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.ant-modal-content{
    height: 250px;
}